.col-sm-2 a {
  color: #fff;
}
div.border-solid {
  margin: 30px;
  border: 1px solid #000;
}
.clearfix {
  overflow: auto;
}
div#showMapCanvas {
  width: 500px;
  height: 500px;
}

/*# sourceMappingURL=admin.css.map */
