
html {
  position: relative;
  min-height: 100%;
}
body {
  background:url('/wallp.jpg') center center no-repeat;
  background-size: cover;
  background-color: #ffe5f3;
}
.navbar-default {
  background-color: #7f315b;
  border-color: #7f345d;
  color: #fff;
}
.navbar-default .navbar-nav li a {
  color: #fff;
}
.navbar-default .navbar-nav li:hover {
  color: #cc4e92;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover {
  color: #cc4e92;
}
#app-navbar-collapse .navbar-right li a {
  color: #fff;
}
#app-navbar-collapse .navbar-right li a:hover {
  color: #cc4e92;
}
#app-navbar-collapse .navbar-nav li a {
  color: #fff;
}
#app-navbar-collapse .navbar-nav li a:hover {
  color: #cc4e92;
}
.panel-primary {
  border-color: #cc4e92;
}
.panel-primary .panel-heading {
  color: #fff;
  background:url('/pink.jpg') center center no-repeat;
  background-size: cover;
  background-color: #cc4e92;
  border-color: #cc4e92;
}

/*# sourceMappingURL=app.css.map */
