$primary = #7F315B
$light = #FFE5F3
$secondary = #FF61B6
$dark = #7F345D
$third = #CC4E92
	

body
	background-color $light
	
.navbar-default
	background-color $primary
	border-color $dark
	color white
	.navbar-nav
		li
			a
				color white
			&:hover
				color $third
	.navbar-brand
		color white
		&:hover
			color $third
			
#app-navbar-collapse
	.navbar-right
		li
			a
				color white
				&:hover
					color $third
	.navbar-nav
		li
			a
				color white
				&:hover
					color $third
			
.panel-primary
	.panel-heading
		color white
		background-color $third
		border-color $third
	border-color $third