
.slide-image 
    width 100%

.carousel-holder 
    margin-bottom 30px

.carousel-control,
.item 
    border-radius 4px


.caption 
    height 130px
    overflow hidden


.caption h4 
    white-space nowrap


.thumbnail img 
    width 100%
    dispay block


.ratings 
    padding-right 10px
    padding-left 10px
    color #d17581


.thumbnail 
    margin 10px
    padding 0px


.thumbnail .caption-full 
    padding 9px
    color #333


footer 
    margin 50px 0

.clearfix
    overflow auto
    &:before,
    &:after
        content " " // 1
        display table // 2

    &:after
        clear both
        
.add-form
    margin 10px

#product-tile
    display block
    width 100%
    height 100%
    
#image-thumbnail
    max-width 300px
    min-width 300px
    max-height 300px
    min-height 300px
    overflow hidden